.mainHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    width: 30%;
    margin: 4% auto;
    font-weight: 600;
    color: rgb(238, 205, 163);
    
}
#inputArea {
  /* border: 1px solid black; */
  width: 600px;
  margin: auto;
  padding: 20px;
  margin-top: 5px;
  /* background-color: darkgrey; */
  background: rgba(207, 207, 207, 0.268);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.centerised {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blurness {
  background: rgba(207, 207, 207, 0.268);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 20%;
}
.cityName {
  background: rgba(207, 207, 207, 0.268);
  width: 20%;
  backdrop-filter: blur(5px);
  margin: 5% auto;
  border-radius: 8px;
}
