*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    margin: 0;
    background-image: url(https://images.pexels.com/photos/14549474/pexels-photo-14549474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100%;
    

}